/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0e1557;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: #0e1557;
  color: white;
  padding: 1.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
}

nav ul li a:hover {
  color:aqua;
}

/* Hero Banner */
.hero-banner {
  background: url('/static/hero-banner/home_page.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-title{
  font-size: 4rem;
  font-weight: bold;
  margin-block: 20px;
  margin-inline: 50px;
  background: linear-gradient(to bottom left, rgb(1, 238, 255), rgb(115, 1, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-banner .hero-text {
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
}

/* Carousel */
.carousel-container {
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 2rem;
  position: relative;
}

.carousel {
  display: flex;
  cursor: grab;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 3rem;
}

.carousel.active {
  cursor: grabbing;
}

.carousel-item {
  min-width: 300px;
  color: white;
  background-color: rgba(247, 247, 247, 0.2);
  padding: 2em;
  text-align: center;
  user-select: none; 
  border: 2px solid white;
  border-radius: 25px;
}

.carousel div:hover{
  color:aqua;
}

.carousel-content{
  text-align: justify;
  padding-bottom: 2rem;
}

.carousel-image {
  height: 30%;
  width: 80%;
  border-radius: 25px;
}

.carousel-item:hover {
  background-color: rgba(247, 247, 247, 0.4);
  color: black;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: aqua; 
  transition: width 0.3s ease; 
}

/* Accordion */
.accordion {
  margin: 1em;
}

.accordion-item {
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 1em;
}

.accordion-button {
  background-color: rgba(247, 247, 247, 0.2); 
  color: white;
  border: none;
  padding: 1em;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  border-radius: 25px;
}

.accordion-button.closed {
  border-radius: 25px 25px 0 0;
}


.accordion-button:hover {
  background-color: rgba(247, 247, 247, 0.4);
  color: black;
}

.accordion-content {
  display: none;
  padding: 1em;
  background-color: white;
  opacity:0.3;
  border: 1px solid white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}

.component-title{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px !important;
  padding-top: 50px !important;
  background: linear-gradient(to bottom left, rgb(1, 238, 255), rgb(115, 1, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-component-title{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-block: 20px !important;
  background: linear-gradient(to bottom left, rgb(1, 238, 255), rgb(115, 1, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.see-more{
  text-align: end;
  color:aqua;
}

.see-more .see-more-icon a:hover{
  color:blueviolet;
}

.see-more-icon {
  margin-left: 5px; 
  width: 1em; 
  height: 1em; 
  fill: currentColor; 
}