<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/amazon">Amazon</a></li>
            <li><a href="/apple">Apple</a></li>
            <li><a href="/microsoft">Microsoft</a></li>
            <li><a href="/google">Google</a></li>
            <li><a href="/netflix">Netflix</a></li>
        </ul>
    </nav>

    <div class="hero-banner">
        <div class="hero-text">
            <h1>Google</h1>
            <p>Welcome to the Google page.</p>
        </div>
    </div>

    <h2>Google</h2>
    <img src="/images/Google_close_price.png" alt="Google Close Price">
    <img src="/images/Google_moving_averages.png" alt="Google Moving Average">
    <iframe src="/images/Google_candlestick.html" width="100%" height="600"></iframe>

</body>
</html>
